@font-face {
    font-family: 'CoreSansG';
    src: url("../fonts/CoreSansG-Medium.ttf");
    font-weight: normal;
}

@font-face {
    font-family: 'CoreSansG-ExtraLight';
    src: url("../fonts/CoreSansG-ExtraLight.ttf");
}

@font-face {
    font-family: 'slick';
    src: url("../fonts/slick.ttf");
    font-weight: normal;
}
