@font-face {
    font-family: 'CoreSansG';
    src: url("../fonts/CoreSansG-Medium.ttf");
    font-weight: normal;
}

@font-face {
    font-family: 'CoreSansG';
    src: url("../fonts/CoreSansG-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: 'slick';
    src: url("../fonts/slick.ttf");
    font-weight: normal;
}
