.header {
    background-color: $black;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1vw 6vw;
        background: radial-gradient(386.12px at 9.59% 77.63%, #171717 0%, #000 100%);
    }

    &__logo {
        width: 8.5vw;
        height: 6.5vw;
    }

    &__wrapper-menu {
        transform: translateX(6vw);
        max-width: 25vw;
        width: 100%;


        &_list {
            display: flex;
            justify-content: space-between;
        }

        &_link {
            @include link;
            @include linkHover;
            display: inline-block;
        }
    }

    &__wrapper-profile {
        border: none;
        background: transparent;
        cursor: pointer;
        display: flex;
        align-items: center;

        &_user-info {
            display: flex;
            align-items: center;
            margin-left: 5vw;

            *+* {
                margin-left: 1.3vw;
            }
        }
        
        &_initials {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 2.6vw;
            height: 2.6vw;
            background-color: $colorWheat;
            border: 1px solid $lightGray;
            border-radius: 4px;
            color: $darkGray;
            transition: all 0.4s;
            text-decoration: none;
            font-size: 1.4vw;

            &:hover {
                background-color: transparent;
                border-color: $white;
                color: $white;
            }
        }

        &_user-name {
            @include link;
            @include linkHover;
            transition: all 0.4s;
        }
    }
}