body {
    background-color: #1e1e1f;
}

// custom select

.custom_select {
    border: none;
    background: transparent;
    cursor: pointer;
    transform: translateX(10vw);

    &.opened {
        .custom_select__choosen {
            span {
                color: $white;
            }
        }

        .custom_select__options {
            max-height: 5vw;
            position: absolute;
        }

        .hideOptions {
            display: block;
        }

        .showOptions {
            display: none;
        }
    }

    &__choosen {
        @include link;
        display: flex;

        * + * {
            margin-left: 0.5vw;
        }
    }

    &__options {
        max-height: 0;
        overflow: hidden;

        .custom_select__option {
            > span {
                @include link;
                transition: all 0.4s;
            }

            &:hover {
                > span {
                    color: $white;
                }
            }
        }
    }

    .hideOptions {
        display: none;
    }
}

// upload photo 

.upload-photo {
    width: 7.2vw;
    height: 7.2vw;
    border: 0.15vw solid #363636;
    margin-right: 3vw;
    cursor: pointer;
    transition: all 0.4s;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__wrapper-svg {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    &__svg {
        width: 1.5vw;
        height: 1.5vw;
    }

    &__input {
        display: none;
    }

    &__img {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}