// Variables
$black: #000;
$bgColorMain: #1e1e1f;
$white: #fff;
$darkGray: #444;
$borderColor: #363636;
$Gray: #252525;
$blue: #0400d8;
$lightGray: #979797;
$colorWheat: #d8d8d8;

$mainFont: "Core Sans G", sans-serif;
$extraLightFont: "CoreSansG-ExtraLight", sans-serif;

$demi: 600;
$book: normal;
$medium: 500;

// Mixins
@mixin linkHover {
    &:after {
        content: '';
        position: absolute;
        top: -10px;
        left: 0;
        right: 0;
        width: 80%;
        margin: 0 auto;
        height: 2px;
        background-color: $white;
        transform: scale(0);
        transition: -webkit-transform 0.15s;
        transition: transform 0.15s;
        transition: transform 0.15s, -webkit-transform 0.15s;
    }

    &:hover:after {
        transition: -webkit-transform 0.15s;
        transition: transform 0.15s;
        transition: transform 0.15s, -webkit-transform 0.15s;
        transform: scale(1);
    }

    &:hover {
        transition: background-color 0.3s;
    }
}

@mixin link {
    color: $white;
    font-family: $extraLightFont;
    font-size: 20px;
    font-weight: $book;
    line-height: 1.5vw;
    text-decoration: none;
    position: relative;
}

@mixin title {
    color: $white;
    font-family: $extraLightFont;
    font-size: 1vw;
    font-weight: $book;
    line-height: 1.5vw;
}

@mixin btn {
    width: 9.4vw;
    height: 2.6vw;
    background-color: $blue;
    border: none;
    cursor: pointer;
    font-size: 0.9vw !important;
    outline: none;
    @include link;
    transition: 0.25s;

    &:hover {
        background-color: transparent;
        border: 1px solid $white;
    }
}
