// Variables
$black: #000;
$white: #fff;
$lightGray: #444;

$mainFont: "Core Sans G", sans-serif;


$demi: 600;
$book: normal;
$medium: 500;

// Mixins
@mixin linkHover {
    transition: all 0.4s;

    &:hover {
        color: #888;
    }
}

@mixin svgHover {
    transition: all 0.4s;

    path {
        transition: all 0.4s;
    }

    &:hover {
        path {
            fill: #ccc;
        }
    }
}
