.wrapper-profile {
    background-color: #1e1e1f;
    padding: 0 6vw;
    height: 100%;
    padding-top: 5vw;

    &__section {
        display: flex;

        &_wallet {
            margin: 3vw 0 1vw 10.2vw;
        }
    }

    &__title {
        @include title;
        margin-bottom: 3vw;
    }

    &__container {
        display: flex;
    }

    &__personal-information {

        &_container-input {
            display: flex;
            flex-direction: column;
            margin-right: 2vw;

            .custom_select {
                transform: translateX(0);
                width: 19vw;
                height: 2.5vw;
                border-radius: 2px;
                background-color: $Gray;
                margin-bottom: 1.4vw;
            }

            .opened {
                z-index: 2;
            }

            .custom_select__choosen {
                height: 2.5vw;
                width: 20vw;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 2vw 0 1.2vw;
                box-sizing: border-box;
                color: $white;
                font-family: $extraLightFont;
                font-size: 0.8vw;
                transition: all 0.2s;
            }

            .custom_select.opened .custom_select__options {
                max-height: 7.5vw;
            }

            .custom_select__options {
                background-color: $Gray;
                width: 19vw;
                overflow: overlay;
                transition: all 0.4s;

                &::-webkit-scrollbar { 
                    width: 0; 
                }

                span {
                    color: $white;
                    font-family: $extraLightFont;
                    font-size: 0.8vw;
                    padding: 0 1.2vw;

                    &:hover {
                        color: $lightGray;
                    }
                }
            }
        }

        &_input {
            width: 19vw;
            height: 2.5vw;
            border-radius: 2px;
            background-color: $Gray;
            border: none;
            outline: none;
            color: $white;
            font-size: 0.8vw;
            padding-left: 1.2vw;
            margin-bottom: 1.4vw;
            box-sizing: border-box;
            font-family: $extraLightFont;
    
            &::placeholder {
                color: $white;
                font-family: $extraLightFont;
                font-size: 0.8vw;
            }
        }
    }

    &__container-btn {
        margin: 2vw 0;
    }

    &__btn  {
        @include btn;
    }

    &__wallet {
        margin-right: 8.4vw;

        &_title {
            @include title;
            text-transform: uppercase;
            font-size: 1vw;
        }

        &_result {
            width: 15.5vw;
            height: 3vw;
            background-color: $Gray;
            display: flex;
            align-items: center;
            @include link;
            font-size: 0.8vw;
            margin: 2vw 0;
            padding-left: 1.2vw;
            box-sizing: border-box;
        }
    }

    &__safety {
        margin-left: 30px;

        .wrapper-profile__personal-information_input {
            width: 15.7vw;
        }
    }
}